appdirs==1.4.4
APScheduler==3.9.1
argos-translate-files==1.1.4
argostranslate==1.9.1
async-timeout==4.0.3
Babel==2.14.0
beautifulsoup4==4.9.3
blinker==1.6.2
boto3==1.34.31
botocore==1.34.31
cached-property==1.5.2
cachelib==0.10.2
certifi==2023.5.7
charset-normalizer==3.2.0
click==8.1.6
colorama==0.4.6
commonmark==0.9.1
contourpy==1.1.0
ctranslate2==3.20.0
cycler==0.11.0
Deprecated==1.2.14
expiringdict==1.2.2
filelock==3.12.2
Flask==2.2.5
flask-babel==3.1.0
Flask-Limiter==2.6.3
Flask-Session==0.4.0
Flask-SQLAlchemy==3.1.1
flask-swagger==0.2.14
flask-swagger-ui==4.11.1
fonttools==4.41.0
greenlet==3.0.3
idna==3.4
importlib-metadata==6.8.0
importlib-resources==6.0.0
inflection==0.5.1
itsdangerous==2.1.2
Jinja2==3.1.2
jmespath==1.0.1
joblib==1.3.2
kiwisolver==1.4.4
langdetect==1.0.9
LexiLang==1.0.1
libretranslate==1.5.5
limits==3.7.0
lxml==5.1.0
MarkupSafe==2.1.3
matplotlib==3.7.2
Morfessor==2.0.6
mpmath==1.3.0
mypy-extensions==1.0.0
mysqlclient==2.2.1
networkx==3.1
numpy==1.25.1
opencv-python==4.8.0.74
packaging==23.1
pandas==2.0.3
Pillow==10.0.0
polib==1.1.1
prometheus-client==0.15.0
protobuf==4.21.12
psutil==5.9.5
py-cpuinfo==9.0.0
Pygments==2.17.2
PyMySQL==1.1.0
pyparsing==3.0.9
python-dateutil==2.8.2
python-dotenv==1.0.1
pytz==2023.3
PyYAML==6.0.1
redis==4.4.4
regex==2023.12.25
requests==2.31.0
rich==12.6.0
s3transfer==0.10.0
sacremoses==0.0.53
scipy==1.11.1
seaborn==0.12.2
sentencepiece==0.1.99
six==1.16.0
soupsieve==2.5
SQLAlchemy==2.0.25
sqlalchemy-orm==1.2.10
stanza==1.1.1
sympy==1.12
torch==2.0.1
torchvision==0.15.2
tqdm==4.65.0
translatehtml==1.5.2
typing-inspect==0.9.0
typing_extensions==4.7.1
tzdata==2023.3
tzlocal==5.2
ultralytics==8.0.139
urllib3==2.0.4
waitress==2.1.2
Werkzeug==2.3.8
wrapt==1.16.0
zipp==3.16.2
